@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@mixin section-background {
    background-position: center center;
    background-size: cover;
    background-image: url("../img/active-adult-athlete-body-416778.jpg");
    height: 100vh;
}

@mixin section {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-color: #21272b;
}

@mixin section-half {
    height: 50vh;
}

@mixin section-images-image
{
    background-position: center center;
    background-size: cover;
}

$roboto: 'Roboto', sans-serif;

$blue: #1878c7;


html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: auto;
    font-family: $roboto !important;
}



.section1 {
    @include section-background;
    nav
    {
        box-shadow: none;
        a{
            color: white !important;
        }
        button
        {
            color: white !important;
        }
        .nav-item
        {
            margin-right: 75px;
            margin-top: 50px;
            font-weight: bold;
        }
        .navbar-brand
        {
            margin-left: 75px;
            margin-top: 50px;
            border: 1px solid white;
            padding: 10px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .welcome
    {
        top: 50%;
        #welcome_h1 {
            margin-left: 200px;
            color: white;
        }
        #welcome_h4 {
            margin-left: 200px;
            margin-top: 20px;
            color: $blue;
        }
    }
}

.section
{
    @include section;
    #programs_div
    {
        margin-left: 200px;
        #programs_content
        {
            position: absolute;
            margin-top: 150px;
            #programs_motivation
            {
                margin-top: 30px;
                color: $blue;
            }
        }
    }
    .programs_card
    {
        position: absolute;
        margin-top: 400px;
        width: 400px;
        margin-left: 200px;
        #card1
        {
            position: absolute;
        }
        #card2
        {
            margin-left: 600px;
            width: 400px;
            position: absolute;
        }
        #card3
        {
            margin-left: 1200px;
            width: 400px;
            position: absolute;
        }
    }
}

#section-images
{
    @include section-half;
    #image1
    {
        @include section-images-image();
        height: 100%;
        background-image: url("../img/adult-cutting-daylight-facial-expression-1153369.jpg");
        filter: brightness(0.4);
    }
    #image2
    {
        @include section-images-image();
        height: 100%;
        background-image: url("../img/person-wearing-black-shorts-and-blue-lace-up-low-top-sneaker-841131.jpg");
        filter: brightness(0.4);
    }
}


#trainings
{
    #trainings_card1
    {
        position: absolute;
        margin-top: 100px;
        margin-left: 200px;
        #trainings_image1
        {
            @include section-images-image();
            width: 300px;
            height: 200px;
            background-image: url("../img/three-women-s-doing-exercises-863977.jpg");
        }
    }
    #trainings_card2
    {
        position: absolute;
        margin-top: 400px;
        margin-left: 800px;
        #trainings_image2
        {
            @include section-images-image();
            width: 300px;
            height: 200px;
            background-image: url("../img/woman-girl-silhouette-jogger-40751.jpg");
        }
    }
    #trainings_card3
    {
        position: absolute;
        margin-top: 700px;
        margin-left: 200px;
        #trainings_image3
        {
            @include section-images-image();
            width: 300px;
            height: 200px;
            background-image: url("../img/man-working-out-2294361.jpg");
        }
    }
    .trainings_card
    {
        width: 600px;
        height: 200px;
        background-color: $blue;
    }
}